@charset "utf-8";

*{margin:0;padding:0;}
/*背景颜色表*/
.bc-white{background-color: white;}/*白色*/
.bc-grey{background-color: #ccc;}/*暗淡*/
.bc-black{background-color: #333;}/*铁黑*/
.bc-red{background-color:#f16b6b;}/*脂红*/
.bc-blue{background-color:#2196f3;}/*宝蓝*/
.bc-orange{background-color: #FF5722;}/*橘黄*/

/*图标表*/



#SME{display:block;position: relative;margin:12px;width:1800px;height:800px;}
#SME-MENU{display:inline-block;min-width:600px;border-radius:2px;border:1px #999 solid;}
#SME-CONTENT{position: relative;}
#SmeCanvas{border-radius:4px;}

#SME-MENU .SmeOptions{display: flex;}


#SME-MENU .sme-opt-block{display:block;position:relative;float: left;width:48px;padding:8px 4px;text-align: center;cursor:pointer;}
#SME-MENU .sme-opt-block:hover{background:#f16b6b;}
#SME-MENU .sme-opt-block.active{background:#f16b6b;}
#SME-MENU .sme-spearte{float:left;width:10px;}
#SME-MENU .sme-ul{list-style: none;position:absolute;display:none;width:200px;}
#SME-MENU .sme-opt-block:hover .sme-ul{display:block;}
#SME-MENU .sme-ul li{float:left;width:48px;}

