@charset "utf-8";

*{margin:0;padding:0;}
/*背景颜色表*/
.bc-white{background-color: white;}/*白色*/
.bc-grey{background-color: #ccc;}/*暗淡*/
.bc-black{background-color: #333;}/*铁黑*/
.bc-red{background-color:#f16b6b;}/*脂红*/
.bc-blue{background-color:#2196f3;}/*宝蓝*/
.bc-orange{background-color: #FF5722;}/*橘黄*/

/*图标表*/



#SME{display:block;position: relative;margin:12px;width:1800px;height:800px;}
#SME-MENU{position:absolute;top:12px;right:12px;box-shadow:1px 1px 4px rgba(20,20,20,1);width:68px;border-radius:2px;border: 4px #999 double;}
#SmeCanvas{border-radius:4px;}



#SME-MENU .sme-opt-block{display: block;padding:8px 4px;text-align: center;cursor:pointer;}
#SME-MENU .sme-opt-block:hover{background:#f16b6b;}
#SME-MENU .sme-spearte{background:#333;height:12px;}
#SME-MENU .sme-ul{list-style: none;}

#SME-MENU .sme-ul .

